sphinx
sphinx-rtd-theme
ghp-import 
pytest
toml 
pandas==1.5.3
numpy==1.24.2
nilearn==0.8.1
networkx==2.8.2
plotnine==0.10.1
scikit-learn
matplotlib==3.7.0
seaborn==0.12.1
nipype==1.8.1
niflow-nipype1-workflows==0.0.5
